@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --cdk-palette-white: #fff;
  --cdk-palette-violet: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  @apply cdk-h-full;
  @apply cdk-w-full;

  @apply cdk-overflow-x-hidden;
}
