<fragment>
  <div>
    <div>
      <div
        role="table"
        class="cdk-repository-hierarchy-table"
        :aria-colcount="cdkColumnDefs.length || 0"
        :aria-rowcount="getRepositoriesCount"
        aria-label="cdkRepositories"
        aria-describedby="cdkRepoisotoriesDetails"
      >
        <div
          role="rowgroup"
          id="cdkRepoisotoriesDetails"
          class="
            cdk-repository-hierarchy-table-cell-row
            cdk-repository-hierarchy-table-cell-grid
            cdk-repository-hierarchy-table-cell-header
          "
        >
          <template v-cloak="cdkColumnDefs && cdkColumnDefs.length">
            <template v-for="(cdkColumnDef, index) in cdkColumnDefs">
              <div
                role="row"
                class="cdk-col-span-auto"
                v-bind:key="cdkColumnDef"
                v-bind:index="index"
              >
                <div role="columnheader" aria-sort="none">
                  <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                    <strong
                      class="
                        cdk-text-xs
                        cdk-uppercase
                        cdk-font-medium
                        cdk-cursor-pointer
                      "
                      v-bind:cdk-header-cell-def="cdkColumnDef"
                    >
                      {{ cdkColumnDef }}
                    </strong>
                  </p>
                </div>
              </div>
            </template>
          </template>
        </div>

        <template v-for="(repository, index) in repositories">
          <div
            role="rowgroup"
            id="cdkRepoisotoriesDetails"
            v-bind:key="repository && repository.id"
            v-bind:index="index"
            v-bind:style="{
              'border-top': index > 0 && (index) !== getRepositoriesCount && 'none'
            }"
            class="
              cdk-repository-hierarchy-table-cell-row
              cdk-repository-hierarchy-table-cell-body
              cdk-repository-hierarchy-table-cell-grid
            "
          >
            <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
              <div role="cell">
                <div
                  class="
                    cdk-inline-flex
                    cdk-flex-nowrap
                    cdk-items-center
                    cdk-place-content-start
                  "
                >
                  <div
                    v-if="repository.owner.avatar_url"
                    class="cdk-max-h-6 cdk-select-none cdk-pointer-events-none"
                  >
                    <img
                      :src="repository.owner.avatar_url"
                      :srcset="repository.owner.avatar_url"
                      class="
                        cdk-h-auto
                        cdk-max-h-6
                        cdk-relative
                        cdk-bg-contain
                        cdk-bg-no-repeat
                      "
                    />
                  </div>
                  <div class="cdk-pl-4">
                    <p
                      class="cdk-text-left cdk-leading-tight cdk-tracking-wide"
                    >
                      <strong class="cdk-repository-hierarchy-cell-def">
                        {{ repository.name }}
                      </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
              <div role="cell">
                <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                  <strong
                    class="
                      cdk-text-violet-50
                      cdk-opacity-75
                      cdk-normal-case
                      cdk-bg-gray-100
                      cdk-px-4
                      cdk-py-1
                      cdk-font-normal
                      cdk-rounded-full
                      cdk-border-separate
                      cdk-border-1
                      cdk-transition-all
                      hover:cdk-shadow-sm hover:cdk-opacity-100
                      cdk-pointer-events-auto cdk-cursor-pointer
                    "
                    aria-multiselectable="true"
                  >
                    {{ repository.default_branch }}
                  </strong>
                </p>
              </div>
            </div>

            <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
              <div role="cell">
                <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                  <strong class="cdk-text-sm cdk-normal-case cdk-font-normal">
                    {{ repository.language }}
                  </strong>
                </p>
              </div>
            </div>

            <template v-cloak="repository.license && repository.license.name">
              <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
                <div role="cell">
                  <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                    <strong class="cdk-text-sm cdk-normal-case cdk-font-normal">
                      {{ repository.license && repository.license.name }}
                    </strong>
                  </p>
                </div>
              </div>
            </template>

            <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
              <div role="cell">
                <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                  <strong class="cdk-text-sm cdk-normal-case cdk-font-normal">
                    {{ repository.created_at }}
                  </strong>
                </p>
              </div>
            </div>

            <div role="row" class="cdk-col-span-auto" :aria-rowindex="index">
              <div role="cell">
                <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                  <strong class="cdk-text-sm cdk-normal-case cdk-font-normal">
                    {{ repository.updated_at | date: 'yyyy-MM-dd' }}
                  </strong>
                </p>
              </div>
            </div>
          </div>
        </template>

        <div
          role="rowgroup"
          id="cdkRepoisotoriesDetails"
          class="
            cdk-repository-hierarchy-table-cell-row
            cdk-repository-hierarchy-table-cell-grid
            cdk-repository-hierarchy-table-cell-footer
          "
        >
          <div role="row" class="cdk-col-span-6" aria-rowindex="1">
            <div role="cell" class="cdk-text-sm">
              <p class="cdk-text-left cdk-leading-tight cdk-tracking-wide">
                <slot name="cdk-table-footer-cell-def"></slot>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fragment>
